<% content_for :title, "Media by #{@profile.name.capitalize} - Trummi" %>

<div id="media-container">
	<div class="mb-2 cont-header" align="center">
		<div class="cont-header-profile">
			<div class="i-wrapper">
				<%= button_to profile_path(@profile), method: :get, class: "bg-transparent p-0" do %>
					<%= image_tag("back.svg", class: "back") %>
				<% end %>
			</div>
			<div class="header-img">
				<% if @profile.image1? %>
	              <%= image_tag(@profile.image1.url(:thumb), height: "100%", width: "100%", class: "card-img-top no-sel") %>
	            <% else %>
	              <%= image_tag("https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", height: "100%", width: "100%", class: 'card-img-top no-sel') %>
	            <% end %>
			</div>
			<div class="cont-header-title chp-title">
				<span><strong><%= @profile.name.capitalize %><%= image_tag("verified.svg", class: "chp-verified") if @profile.verified? %></strong></span>
				<!-- <span><small>@<%= @profile.username %></small></span> -->
			</div>
		</div>
		
		<div class="cont-header-title">Media</div>
	</div>

	<div class="media-results">	
        
        <div class="row media-results-wr">
        	<%= render partial: 'mediaimg', collection: @profile_image, as: :post_img %>
        </div>
      
      	<div class="pagination-wr">
			<% if @profile_image.next_page %>
				<%= link_to media_profile_path(page: @profile_image.next_page), class: "pagination-more" do %>
					<i class='fas fa-plus-circle'></i> 
					<span>More</span>
				<% end %>
			<% end %>
		</div>
	</div>		
</div>