<% content_for :title, "#{@profile.name.capitalize} - Trummi" %>
 
<div id="profile-show-wrapper" data-profile="<%= @profile.id %>">
  
  <div class="profile-left-container">
    <%= render "leftcontainer" %>
  </div>

  <div class="profile-center-container">
    <%= render "centercontainer" %>
  </div>

  <div class="profile-right-container">
    <%= render "rightcontainer" %>
  </div>

</div>      

<%= javascript_pack_tag 'profile_js' %>