<% content_for :title, "Settings - Trummi" %>

<div class="row" id="settings"> 
	<div class="col-4 set-left">
		<div align="center">
			<div class="header-img hiset">
		      <% if current_user.profile.image1? %>
		        <%= image_tag(current_user.profile.image1.url(:thumb), height: "100%", width: "100%", draggable: "false", class: "card-img-top") %>
		      <% else %>
		        <%= image_tag("https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", height: "100%", width: "100%", draggable: "false", class: "card-img-top") %>
		      <% end %>
		    </div>
		    <div class="sett-head">
		    	<h5 class="text-capitalize"><strong><%= current_user.profile.name.capitalize %><%= image_tag("verified.svg", class: "align-text-bottom") if current_user.profile.verified? %></strong></h5>
		    	<!-- <span class="h-username">@<%= current_user.profile.username %></span> -->
		    </div>
		</div>
		<div class="list-group" id="list-tab" role="tablist">
			<a class="list-group-item list-group-item-action active" href="#Verification" data-bs-toggle="tab">
				<%= image_tag("verified.svg") %>
				Verification
			</a>
			<a class="list-group-item list-group-item-action" href="#Account" data-bs-toggle="tab">
				<%= image_tag("account.svg") %>
				Account
			</a>
			<a class="list-group-item list-group-item-action" href="#Privacy" data-bs-toggle="tab">
				<%= image_tag("privacy.svg") %>
				Privacy
			</a>
			<a class="list-group-item list-group-item-action" href="#Security" data-bs-toggle="tab">
				<%= image_tag("security.svg") %>
				Security 
			</a>
		</div>
	</div>
	<div class="col-8 set-right">
		<div class="tab-content">
		   <div class="tab-pane active" id="Verification">
		   		<% if current_user.profile.verified? %>
		   			<h6><strong>You are now verified!</strong></h6>
	   			<% else %>
	   				<h6><strong>You have not been verified.</strong></h6>
	   				<p class="d-none">Please submit proof of identity. Once we confirm your photos we will update your verification status.</p>

	   				<div>
			   			<h5 class="text-light d-none" style="cursor: not-allowed">Submit Proof</h5>
			   		</div>
	   			<% end %>
		   	</div>
		   <div class="tab-pane" id="Account">
		   		<h6><strong><%= link_to("Edit Profile", edit_profile_path(current_user.profile.id)) %></strong></h6>

		   		<h6><strong><%= link_to("Help", help_path) %></strong></h6>

		   		<% if !current_user.profile.isdisabled %>
			   		<h6><strong><%= link_to("My Tags", new_tag_path) %></strong></h6>
		   		<% end %>

		   		<h6>
		   			<strong>
		   				<% if current_user.profile.isdisabled %>
      						<span class="text-primary"><%= link_to "Reactivate My Account", settings_disable_account_path %></span>
      					<% else %>
      						<span class="text-primary"><%= link_to "Disable Account", settings_disable_account_path %></span>
      					<% end %>
		   			</strong>
		   		</h6>

		   		<h6><strong><span class="text-danger"><%= link_to "Delete Account", settings_delete_account_path %></span></strong></h6>
		   </div>
		   <div class="tab-pane" id="Privacy">
		   		<div class="form-group">
		   			<%= form_with(model: @profile, class: "row", id: "settings-form", local: false) do |f| %>
		   				<!-- <div class="col-12 p-0">
		   					<h6><strong>Account Privacy</strong></h6>
				   			<div class="form-group">
	    						<p>When your account is private, your profile will not appear in search results.</p>
	    					</div>
	    					<div class="form-group mb-4">
						    	<div class="f-check">
							        <%= f.check_box :private, class: "form-check-input", id: "privateswitch" %>
							        <%= f.label :private, for: "privateswitch" %>
							        <span><strong>Private Account</strong></span>
						      	</div>
						    </div> 
		   				</div> -->
		   				<div class="col-12 p-0">
		   					<h6><strong>Tag Privacy</strong></h6>
				   			<div class="form-group">
	    						<p>When tags are hidden, others won't see all tags you're associated with. Your profile will still appear in search results for those that share the same tags.</p>
	    					</div>
	    					<div class="form-group mb-4">
								<div class="f-check">
									<%= f.check_box :private_tags, class: "form-check-input", id: "tagswitch", remote: true %>
									<%= f.label :private_tags, for: "tagswitch" %>
									<span><strong>Hide Tags</strong></span>
								</div>
								<div class="form-group mt-3">
									<%= f.submit id: "privateSub" %>
								</div>
							</div>   
		   				</div>
		   			<% end %>
		   		</div>
		   		<div class="form-group">
		   			<% if !current_user.profile.isdisabled %>
		   				<h6><strong><%= link_to("Blocked Accounts", settings_blocked_path) %></strong></h6>
		   			<% end %>
		   		</div>

		   </div>
		   <div class="tab-pane" id="Security">
		   		<h6><strong><%= link_to("Password", edit_user_registration_path) %></strong></h6>
		   		<h6 class="text-light d-none" style="cursor: not-allowed">
		   			<strong>Two-Factor Authentication</strong>	
		   		</h6>
		   </div>
		</div>
	</div>
</div>