<div align="center">
	<h4>Blocking</h4>
</div>

<div class="row">
	<% if @profiles.count != 0 %>
		<% @profiles.each do |p| %>
			<div class="col profile-index-wrapper">
				<div class="card profile-container">
				  	<% if p.image1? %>
			        	<%= link_to image_tag(p.image1.url, height: "100%", width: "100%", :class => "card-img-top", style: "height: 250px; width: 100%"), profile_path(p.id) if p.image1? %>
			        <% else %>
			            <%= link_to image_tag("default-user.svg", class: "card-img-top default-profile-img"), profile_path(p.id) %>
			        <% end %>
					    
					<div class="card-body profile-info">
						<p class="card-title profile-name"><%= p.name.capitalize %>, <%= p.age%></strong></p>	
					</div>
					<div class="card-body profile-links">
						<div class="ph-icon">
							<%= link_to image_tag("mail.svg", :class => "profile-message"), new_personal_message_path(receiver_id: p.user) %>	
						</div>
						<div class="ph-icon">
							<%= render partial: "components/follow_button", locals: {profile: p} %>
						</div>
						<div class="ph-icon">
							<%= render partial: "components/block_button", locals: {profile: p} %>
						</div>
					</div>
					
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="post-container text-center"> 
	      <h6>You're not blocking anyone.</h6>
	    </div>
	<% end %>
</div>		

<div class="row pagination">
  <div align="center">
    
  </div>
</div>